%div#welcome
  %h1 PokéTalk - ポケトーク

  %div.go-dialog
    %p 近くのトレーナーと攻略情報を交換しよう
    %p ポケモンGOに最適！
    = link_to 'いますぐ参加', {controller: :rooms, action: :show, id: @room.name}, class: 'button'

  %div.text
    %h2 できること

    %h3 近くのプレイヤーとポケモンGOで盛り上がろう

    %p レアなポケモンの出現情報から攻略テクニックまで、近所のトレーナー同士でやりとりできるから楽しい！

    %h3 位置情報や画像を添付できる！

    %p 珍しいポケモンを捕まえたらスクリーンショットを撮って自慢しよう！

    %h3 登録不要、すぐにはじめられる

    %p 面倒なアカウントの作成やアプリのインストールは不要。「いますぐ参加」ボタンをタップするだけ

  %div.go-dialog
    %p アプリのインストール、登録一切不要！
    = link_to 'いますぐ参加', {controller: :rooms, action: :show, id: @room.name}, class: 'button'

  %div.text
    %h2 お知らせ

    %ul
      %li
        近くのトレーナーとマッチングするため、端末の位置情報を利用します。
      %li
        位置情報は発言とともにポケトークのサーバーに保存します。この情報は本サービスの提供以外の目的で利用しません。
      %li
        サービス提供者の裁量で、発言内容 (テキスト、画像、位置情報) を削除することがあります。

  %footer
    %p PokéTalk - ポケトーク
    %p
      ©
      %a{href:'https://twitter.com/shao1555'} shao1555
      —
      %a{href:'https://goo.gl/forms/M23NzayQR5X2ZFxq2'} 開発者に連絡

