- if message.user == current_user
  %div.message.message-sent
    %div.message-user-name You
    %div.message-body
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
- else
  %div.message.message-received
    %div.message-user-name
      = message.user.try(:name)
    %div.message-body
      %p
        = message.body
      - if n % 10 == 1
        -# %iframe.map{allowfullscreen: '', src: 'https://www.google.com/maps/embed/v1/place?q=35.658581%2C139.745433&key=AIzaSyA82ZgwRZlALXKLqlrOZGHoMaeFaA8gGRY'}
    %div.time
      = I18n.l(Time.now, format: :short)
